* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

 /* Pagina de Inicio de Sesión */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.login div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #D9D9D9 solid 1px;
    width: max-content;
    padding: 3ch;
    border-radius: 7px;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    width: 100%;
}
.login input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.login input[type="button"] {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    width: 100%;
}

.login input[type="button"]:hover {
    background-color: #B0B0B0;
}

/* Pagina de administración */

body.admin {
    display: none; /* Esconde la pagina si es que no se autentifica */
}

body.admin.authenticated {
    display: block; /* Muestra la pagina cuando se autentifica */
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    list-style-type: none;
    border-radius: 15px;
}

.admin #admin-options {
    display: flex;
    background-color: #f8f9fa;
    border-radius: 20px;
    border: #1E1E1E solid 1px;
    padding: 0;
}

.admin #admin-options nav{
    margin: 0;
    width: 20%;
    border-right: #1E1E1E solid 1px;
    background-color: #dedede;
    border-radius: 20px 0 0 20px;
    padding: 10px 0
}

.admin #admin-options ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    margin: 0;
}

.admin #admin-options li {
    width: 100%;
}

.admin #admin-options button {
    background-color: #dedede;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}

.admin #admin-options button:hover {
    background-color: #c4c4c4;
}

.admin input[type="submit"]#admin-salida {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px;
    border-radius: 5px;
}

.admin input[type="submit"]#admin-salida:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.admin-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.admin-content * {
    padding: 0 10px;
}

.admin-content#reservas-content, .admin-content#clientes-content {
    display: none;
}

#admin-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: black solid 1px;
}

#admin-content-header h3 {
    padding: 0;
}

#admin-content-header #add {
    width: max-content;
    text-align: center;
    background-color: #63e163;
    color: green
}

#admin-content-header #add i {
    padding: 0;
}


#admin-content-titles {
    overflow-x: auto;
}

table#reservas-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table#reservas-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

table#reservas-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table#reservas-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table#reservas-table tr:hover {
    background-color: #ddd;
}

table#reservas-table th, table#reservas-table td {
    padding: 12px;
    text-align: center;
}


/* Pagina frontal */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.frente{
    background-color: #fddcad;
    padding: 0;
    margin: 0;
}

header#banner, footer {
    flex: 0;
}

header#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 159, 80);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

header#banner * {
    width: 50%;
    text-align: center;
}

header#divLogin {
    display: flex;
    justify-content: right;
    margin-right: 5vh;
}

header#banner button {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    border: 1px solid #1E1E1E;
}

header#banner button#menu {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

header#banner button#menu *{
    width: 100%;
}

#columna_principal {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: #f8f9fa;
    align-items: center;
    flex: 1;
}

#columna_principal button {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2rem 0;
    border-radius: 5px;
}

/* Hacer reservaciones */
.hacer-reservacion {
    background-color: #fddcad;
    padding: 0;
    margin: 0;
}

.hacer-reservacion form#reservacionForm {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px 50px;
    border-radius: 20px;
    border: #1E1E1E solid 1px;
    margin: 2rem 0 ;
}

.hacer-reservacion form#reservacionForm input{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hacer-reservacion form#reservacionForm input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion form#reservacionForm input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.hacer-reservacion form#reservacionForm select{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.hacer-reservacion input[type="button"]#cancelar {
    background-color: #D9D9D9;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion input[type="button"]#cancelar:hover {
    background-color: #B0B0B0;
    color: #D9D9D9;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(220, 159, 80);
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
}

img#mapa{
    margin: 0 5px;
}

@media screen and (max-width: 900px) {
    .admin #admin-options nav {
        width: max-content;
    }

    header#banner, footer {
        border-radius: 0;
    }
    
    #columna_principal {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    img{
        width: 95%;
        height: auto;
    }
}