* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

 /* Pagina de Inicio de Sesión */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.login div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #D9D9D9 solid 1px;
    width: max-content;
    padding: 3ch;
    border-radius: 7px;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    width: 100%;
}
.login input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.login input[type="button"] {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    width: 100%;
}

.login input[type="button"]:hover {
    background-color: #B0B0B0;
}

/* Pagina de administración */

body.admin {
    display: none; /* Esconde la pagina si es que no se autentifica */
}

body.admin.authenticated {
    display: block; /* Muestra la pagina cuando se autentifica */
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    list-style-type: none;
    border-radius: 15px;
}

.admin #admin-options {
    display: flex;
    background-color: #f8f9fa;
    border-radius: 20px;
    border: #1E1E1E solid 1px;
    padding: 0;
}

.admin #admin-options nav{
    margin: 0;
    width: 20%;
    border-right: #1E1E1E solid 1px;
    background-color: #dedede;
    border-radius: 20px 0 0 20px;
    padding: 10px 0
}

.admin #admin-options ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    margin: 0;
}

.admin #admin-options li {
    width: 100%;
}

.admin #admin-options button {
    background-color: #dedede;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}

.admin #admin-options button:hover {
    background-color: #c4c4c4;
}

.admin input[type="submit"]#admin-salida {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px;
    border-radius: 5px;
}

.admin input[type="submit"]#admin-salida:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

@media screen and (max-width: 600px) {
    .admin #admin-options nav{
        width: max-content;
    }
}

#admin-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#admin-content * {
    padding: 0 10px;
}

#admin-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: black solid 1px;
}

#admin-content-header h3 {
    padding: 0;
}

#admin-content-header #add {
    width: max-content;
    text-align: center;
    background-color: #63e163;
    color: green
}

#admin-content-header #add i {
    padding: 0;
}

#admin-content p {
    height: 60vh;
}

/* Pagina frontal */

.frente{
    background-color: #fddcad;
    padding: 0;
    margin: 0;
}

.frente header#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 159, 80);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.frente header#banner * {
    width: 50%;
    text-align: center;
}

.frente header#divLogin {
    display: flex;
    justify-content: right;
    margin-right: 5vh;
}

.frente header#banner button {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.frente #columna_principal {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: #f8f9fa;
    align-items: center;
}

/* Hacer reservaciones */
.hacer-reservacion {
    background-color: #fddcad;
    padding: 0;
    margin: 0;
}

.hacer-reservacion #columna_principal {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: #f8f9fa;
    align-items: center;
}

.hacer-reservacion header#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 159, 80);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.hacer-reservacion header#banner * {
    width: 50%;
    text-align: center;
}

.hacer-reservacion header#divLogin {
    display: flex;
    justify-content: right;
    margin-right: 5vh;
}

.hacer-reservacion #banner button {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion form#reservacionForm {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px 50px;
    border-radius: 20px;
    border: #1E1E1E solid 1px;
}

.hacer-reservacion form#reservacionForm input{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hacer-reservacion form#reservacionForm input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion form#reservacionForm input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.hacer-reservacion form#reservacionForm select#lugar{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}
