{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin menu for managing products, clients, and sales.">
    <meta name="keywords" content="admin, menu, products, clients, sales, management">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static "script.js" %}"></script>
</head>
<body class="admin">
    <h1>Menú Admin</h1>
    <!-- Menu mostrando los elementos actuales -->
    <h2>Opciones</h2>
    <div id="admin-options">
        <nav>
            <ul>
                <li><button type="button" value="Productos">Productos</button></li>
                <li><button type="button" value="Clientes">Clientes</button></li>
                <li><button type="button" value="Ventas">Ventas</button></li>
            </ul>
        </nav>
        <div id="admin-content">
            <div id="admin-content-header">
                <h3>Contenido de Administración</h3>
            </div>
            <p>Aquí van gestionar los productos, clientes y ventas.</p>
        </div>
    </div>
    <input id="admin-salida" type="submit" value="Salir" onclick="inicio()">
</body>
</html>