{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Admin menu for managing reservations, clients, and locations.">
        <meta name="keywords" content="admin, reservations, clients, locations, management">
        <title>Admin Menu</title>
        <link rel="stylesheet" href="{% static "styles\admin-page.css" %}">
        <link rel="stylesheet" href="{% static "styles\admin-page.css" %}">
        <link rel="stylesheet" href="{% static "styles\general.css" %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static "img\large.png" %}" type="image/x-icon">
        <script src="{% static "js\expirar-script.js" %}"></script>
        <script src="{% static "js\admin-script.js" %}"></script>
        <script src="{% static "js\validaciones-script.js" %}"></script>
    </head>
    <body class="admin">
        <h1>Menú Admin</h1>
        <h2>Opciones</h2>
        <div id="admin-options">
            <nav>
                <ul>
                    <li>
                        <button type="button" value="Productos">Reservas</button>
                    </li>
                    <li>
                        <button type="button" value="Clientes">Clientes</button>
                    </li>
                    <li>
                        <button type="button" value="Lugares">Lugares</button>
                    </li>
                    <li>
                        <button type="button" value="Reportes">Reportes</button>
                    </li>
                </ul>
            </nav>
            <div class="admin-content">
                <div id="admin-content-header">
                    <h3>Contenido de Administracion</h3>

                </div>
                <p>En esta sección puedes gestionar los productos, clientes y ventas.</p>
            </div>
            <div id="reserva-content" class="admin-content tablas">
                <div id="admin-content-header">
                    <h3>Reservas</h3>
                    <button type="button" id="add" data-type="reserva">
                        <i class="bi bi-plus-circle"></i> Agregar
                    </button>
                </div>
                <div class="reservas" id="admin-content-titles">
                    <table class="reservas-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>RUT</th>
                                <th>Teléfono</th>
                                <th>Correo Electrónico</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Cantidad de Personas</th>
                                <th>Lugar</th>
                                <th class="tabla-elem-final"></th>
                            </tr>
                        </thead>
                        <tbody class="reservas-body">
                            {% for reserva in reservas %}
                                <tr>
                                    <td>{{ reserva.id }}</td>
                                    <td>{{ reserva.RUT.nombre }}</td>
                                    <td>{{ reserva.RUT.apellido }}</td>
                                    <td>{{ reserva.RUT.RUT }}</td>
                                    <td>{{ reserva.RUT.telefono }}</td>
                                    <td>{{ reserva.RUT.email }}</td>
                                    <td>{{ reserva.fecha_reserva }}</td>
                                    <td>{{ reserva.hora_inicio }}</td>
                                    <td>{{ reserva.cantidad_personas }}</td>
                                    <td>{{ reserva.espacio.nombre }}</td>
                                    <td class="tabla-elem-final">
                                        <button type="button" class="edit-button" data-id="{{ reserva.id }}" data-type="reserva">
                                            <i class="bi bi-pencil-square"></i> Editar
                                        </button>
                                        <button type="button" class="delete-button" data-id="{{ reserva.id }}" data-type="reserva">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="cliente-content" class="admin-content tablas">
                <div id="admin-content-header">
                    <h3>Clientes</h3>
                    <button type="button" id="add" data-type="cliente">
                        <i class="bi bi-plus-circle"></i> Agregar
                    </button>
                </div>
                <div class="reservas" id="admin-content-titles">
                    <table class="reservas-table">
                        <thead>
                            <tr>
                                <th>RUT</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Teléfono</th>
                                <th>Correo Electrónico</th>
                                <th>Visitas</th>
                                <th class="tabla-elem-final"></th>
                            </tr>
                        </thead>
                        <tbody class="reservas-body">
                            {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente.RUT }}</td>
                                    <td>{{ cliente.nombre }}</td>
                                    <td>{{ cliente.apellido }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>{{ cliente.email }}</td>
                                    <td>{{ cliente.visitas }}</td>
                                    <td class="tabla-elem-final">
                                        <button type="button" class="edit-button" data-id="{{ cliente.RUT }}" data-type="cliente">
                                            <i class="bi bi-pencil-square"></i> Editar
                                        </button>
                                        <button type="button" class="delete-button" data-id="{{ cliente.RUT }}" data-type="cliente">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="lugar-content" class="admin-content tablas">
                <div id="admin-content-header">
                    <h3>Lugar</h3>
                    <button type="button" id="add" data-type="lugar">
                        <i class="bi bi-plus-circle"></i> Agregar
                    </button>
                </div>
                <div class="reservas" id="admin-content-titles">
                    <table class="reservas-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Capacidad Maxima</th>
                                <th>Capacidad Actual</th>
                                <th>Descripción</th>
                                <th class="tabla-elem-final"></th>
                            </tr>
                        </thead>
                        <tbody class="reservas-body">
                            {% for lugar in lugares %}
                                <tr>
                                    <td>{{ lugar.id }}</td>
                                    <td>{{ lugar.nombre }}</td>
                                    <td>{{ lugar.capacidadMaxima }}</td>
                                    <td>{{ lugar.capacidad_actual }}</td>
                                    <td>{{ lugar.descripcion }}</td>
                                    <td class="tabla-elem-final">
                                        <button type="button" class="edit-button" data-id="{{ lugar.id }}" data-type="lugar">
                                            <i class="bi bi-pencil-square"></i> Editar
                                        </button>
                                        <button type="button" class="delete-button" data-id="{{ lugar.id }}" data-type="lugar">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="reporte-content" class="admin-content tablas">
                <div id="admin-content-header">
                    <h3>Reportes</h3>
                </div>
            </div>
        </div>
        <input id="admin-salida" type="submit" value="Salir" onclick="window.location.href='{% url "index" %}'">

        <!-- Modal para editar -->
        <div id="edit-modal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()"><i class="bi bi-x"></i></span>
                <h3 id="modal-title">Editar</h3>
                <form id="edit-form">
                    {% csrf_token %}
                    <div id="modal-fields">
                        <!-- Aqui se añaden los campos -->
                    </div>
                    <button type="submit">Guardar Cambios</button>
                </form>
            </div>
        </div>

        <!-- Modal para añadir -->
        <div id="add-modal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeAddModal()"><i class="bi bi-x"></i></span>
                <h3 id="add-modal-title">Agregar Nuevo</h3>
                <form id="add-form">
                    {% csrf_token %}
                    <div id="add-modal-fields">
                        <!-- Aqui se añaden los campos -->
                    </div>
                    <button type="submit">Agregar</button>
                </form>
            </div>
        </div>
    </body>
</html>
