{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frente</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}"></script>
</head>
<body class="frente">
    <div id="banner">
        <h1>Menú Principal</h1>
        <div id="divLogin">
            <button type="button" onclick="window.location.href='/index.html'">Admin</button>
        </div>
    </div>
    <div id="columna_principal">
        <h2>Bienvenido a las reservas</h2>
        <img src="{% static "img\large.png" %}" alt="mapa">
    </div>
</body>
</html>