/* Hacer reservaciones */
.hacer-reservacion {
    background-color: #fddcad;
    padding: 0;
    margin: 0;
}

.hacer-reservacion form#reservacionForm {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px 50px;
    border-radius: 20px;
    border: #1E1E1E solid 1px;
    margin: 2rem 0;
    box-shadow: 4px 4px #2c2c2c26;
}

.hacer-reservacion form#reservacionForm input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hacer-reservacion form#reservacionForm input:user-invalid {
    border-color: red;
}

.hacer-reservacion form#reservacionForm input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion form#reservacionForm input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

.hacer-reservacion form#reservacionForm select {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.hacer-reservacion input[type="button"]#cancelar {
    background-color: #D9D9D9;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.hacer-reservacion input[type="button"]#cancelar:hover {
    background-color: #B0B0B0;
    color: #D9D9D9;
}