html,
body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#registroDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #D9D9D9 solid 1px;
    width: max-content;
    padding: 3ch;
    border-radius: 7px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.formDiv {
    display: flex;
    flex-direction: column;
}

.formColm {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:hover {
    border: 1px solid #2C2C2C;
    background-color: #f5f5f5;
}

input:user-invalid{
    border-color: red;
}

input[type="submit"] {
    background-color: #2C2C2C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #1E1E1E;
    color: #D9D9D9;
}

a {
    border-radius: 5px;
    border: 1px solid #ccc;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #B0B0B0;
}

a#registro {
    color: -webkit-link;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
}